/* CSS Document 
bgcolor="#1BC4FF" align="center"
bgcolor="#8E65F7" for the selection



*/

.banner-main{
	background-color: #3964FF;
	padding: 20px;
    text-align: center;
	width: 100%;
	margin: 0;
	
}
.homework-link:visited {
	color: black;	
}

 /* Custom Styles */
.nav-item {
	padding: 0 15px;
}
.btn-selected{
	color: #8E65F7;
}
.nav-link {
	color: #000;
	text-decoration: none;
}
.nav-link:hover {
	color: #1BC4FF;
 }
.content {
	padding: 20px 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
.navbar{
	padding-top: 5px;
	background-color: #1BC4FF; 
}
.text-center {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar li {
    display: inline;
    margin-right: 10px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: black;
}

.content {
    margin-top: 20px;
}


#top-heading {
    color: #000000; 
}

.work-description {
    font-style: italic;
}
